<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Reusable Form Demo</title>
       <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
       <link rel="stylesheet" href="static/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">

    </head>
    <body>
    {% include 'header.html' %}
    <div class="jumbotron" style="min-height: 55vh">
        <div class="container">
         <h1>Liên hệ Phương Million</h1>
            <h2></h2>
        </div>
    </div>
    </body>
    {% include 'footer.html' %}
</html>