<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Home's Phuong</title>
       <link rel="stylesheet" media="screen" href ="static/bootstrap.min.css">
       <link rel="stylesheet" href="static/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">

    </head>
    <body>
    {% include 'header.html' %}

 <div class="jumbotron" style="min-height: 55vh">
<div class="container">
      <h2>Thông tin người vay</h2>

  <form  action="" method="post" role="form">
    <div class="form-group">
      <label for="name">Tên người vay:</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Nguyen Van A">
    </div>
      <div class="form-row form-group" >
    <div class="col-md-6 " style="padding-left: 0px">
      <label for="tienlai">Tiền lãi 10 ngày:</label>
      <input type="number" step="50000" class="form-control" id="tienlai" name="tienlai" value="250000" required>
    </div>
    <div class="col-md-2 " style="padding-left: 0px">
      <label for="ngayvay">Ngày vay:</label>
      <input type="date"  class="form-control" id="ngayvay" name="ngayvay" required>
    </div>
    <div class="col-md-2 " style="padding-right: 0px; padding-left: 0px">
      <label for="ngaychualay">Ngày chưa lấy:</label>
      <input type="date" class="form-control" id="ngaychualay" name="ngaychualay" required>
    </div>
     <div class="col-md-2 " style="padding-right: 0px; padding-left: 0px">
      <label for="ngaytra">Ngày trả:</label>
      <input type="date" class="form-control" id="ngaytra" name="ngaytra" required>
    </div>
  </div>
      <div class="form-group">
      <label for="Sđt">Số điện thoại:</label>
      <input type="number" class="form-control" id="Sđt" name="sdt">
    </div>
     <button type="submit" class="btn-sm btn-success">Thêm</button>

  </form>
  <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}

        {% for message in messages %}
            {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                <strong>Success! </strong> {{ message[1] }}
                </div>
            {% endif %}

            {% if "Error" in message[1]: %}
                <div class="alert alert-warning">
                {{ message[1] }}
                </div>
            {% endif %}
        {% endfor %}
            {% endif %}
        {% endwith %}
    <h2>Danh sách</h2>
    <table class="table table-condensed">
        <thead>
         <tr>
        <th>Tên người vay</th>
        <th>Ngày vay</th>
        <th>Ngày trả</th>
        <th>Ngày chưa lấy</th>
        <th>Tiền lãi 10 ngày</th>
        <th>Tiền chưa lấy</th>
        <th>Tổng Tiền</th>
      </tr>
    </thead>
    <tbody>
        {% for n in tong_nguoi %}
        <tr id={{loop.index}}>
        <td >{{n["name"]}}</td>
        <td >{{n["ngay_muon"]}}</td>
        <td >{{n["ngay_ket_thuc"]}}</td>
        <td >{{n["ngay_chua_lay"]}}</td>
        <td >{{n["tien_lai_10_ngay"]/1000}} K</td>
        <td >{{n["tienchualay"]/1000}} K</td>
        <td >{{n["thanhtien"]/1000}} K</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5" ></td>
            <td style="text-align: left" class="bg-success text-danger">Tổng cộng</td>
            <td style="text-align: left" class="bg-success text-danger">Tổng cộng</td>
        </tr>
        <tr>
          <td colspan="5"></td>
          <td >{{tongchualay/1000}} K</td>
          <td >{{tong/1000}} K</td>
        </tr>
    </tfoot>
     </table>
</div>
<br>
 </div>
</div>
</div>
    {% include 'footer.html' %}

</body>
</html>